---
layout: page
title: Sponsors
---

{% include cards.html data = site.data.sponsors %}
<div class="row">
    {% for sponsor in site.data.sponsors.institutions %}
        <div class="col s12 m6 l4">
          <div class="card small">
            <div class="card-image valign-wrapper">
              <img src="{{site.url}}/{{sponsor.logo}}">
            </div>
            <div class="card-content">
             <a href="{{sponsor.website}}">
                 <h4 class="custom1-text">{{sponsor.name}}</h4>
             </a>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>

 <div class="section">
  <div class="row">
    <div class="col s12">
      <h4>Support us</h4>
      <p>If you are interested in sponsoring our events, please write an email to <a class="custom1-text" href="mailto:{{ site.data.sponsors.mail }}">this</a> email address.</p>
         <div class="slider" id="foto-eventi">
        <ul class="slides">
          {% for slide in site.data.sponsors.slideshow %}
            <li>
              <img src="{{ site.url }}/{{ slide.img }}" alt="{{ slide.alt }}">
              <div class="caption left-align">
                <h4>{{ slide.title }}</h4>
                <p class="light grey-text text-lighten-3">{{ slide.text }}</p>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div><br>
  </div>
</div>
